// font faces
$body-font = "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;


// font sizes
$body-font-size = 15px

// colors
$grey-bg = #efefef
$blue = #0288D1
$orange = #FF8400
$grey-publish = #aab2b3
$login-text = #757575

// border
$border-radius = 3px





