// font faces
$body-font = "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;


// font sizes
$body-font-size = 15px

// colors
$dark-blue   = #0288D1
$medium-blue = #03A9F4
$light-blue  = #B3E5FC

$grey = #efefef
$orange = #FF8400


$accent = #FF4081

$white = #FFFFFF
$dark-text = #212121
$medium-text = #757575
$light-text = #757575

$border-radius = 3px

